.formField {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-width: 5px;
    height: 80px;
    width: 500px;
    text-indent: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: large;
    color: #FFFFFF;
}

.registerText {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

input::placeholder {
    text-indent: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #FFFFFF;
}

.createAccountButton {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    align-self: center;
    display: flex;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    color: #04395E;
    width: 250px;
    height: 60px;
    padding: 17px;
    font-weight: 700;
}

.createAccountButton:hover {
    background-color: #FFFFFF;
    opacity: 0.9;
}