.footerContainer {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  align-items: center;
  margin-top: auto;
  position: absolute;
}

.myFooter {
  background-color: #FF1F66;
  color: white;
  padding: 7px;
  text-align: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: auto;
}

.footerImage {
  max-width: 100%;
  max-height: 100%;
  margin-right: 120px;
  margin-left: 120px;
  height: 70px;
  width: auto;
  align-items: center;
}
