.formField {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-width: 5px;
    height: 200%;
    width: 100%;
    text-indent: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: large;
    color: #FFFFFF;
}

.textRegisterLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 320%;
    color: #FFFFFF;
}

input::placeholder {
    text-indent: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 120%;
    color: #FFFFFF;
}

.createAccountButton {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    align-self: center;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
    color: #04395E;
    width: 70%;
    height: 20%;
    padding: 3%;
    font-weight: 700;
}

.createAccountButton:hover {
    background-color: #FFFFFF;
    opacity: 0.9;
}

.textError {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 5px;
}