.formField {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-width: 5px;
    text-indent: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50%;
    color: #FFFFFF;
    padding: 7%;
}

.textRegisterLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 320%;
    color: #FFFFFF;
}

div input::placeholder {
    text-indent: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 120%;
    color: #FFFFFF;
}

.createAccountButton {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    align-self: center;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
    color: #04395E;
    width: 70%;
    height: auto;
    padding: 4%;
    font-weight: 700;
}

.createAccountButton:hover {
    background-color: #FFFFFF;
    opacity: 0.9;
}

.textError {
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 5px;
    font-size: 40%;
}


.createPollForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.createPollField {
    background-color: rgba(255, 255, 255, 0.49);
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    padding: 3%;
    margin-bottom: 2%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color:  #FF1F66;
    border-width: 1.5vh;
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
    text-indent: 5%;
    margin-right: 5%;
    font-size: 150%;
}

section form h1 {
    color:#FFFFFF;
    justify-self: center;
    align-self: center;
    font-family: 'Inter', sans-serif;
}

section form h2 {
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    font-size: 150%;
    margin-top: 5%;
}

section input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .formField, .textRegisterLogin, .div input::placeholder, .createAccountButton, .createPollField, section form h1, section form h2, section input::placeholder {
        font-size: 16px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .createAccountButton {
        width: 90%;
    }
}