.myFooter {

  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FF1F66;
  padding: 0.5%;
  height:4%;
  justify-content: center;
  align-items: center;
}

.footerImage{
  margin-right: 7%;
  margin-left: 7%;
}

