.landingPageContainer {
  position: relative;
  min-height: 100vh;
}
.backgroundStyle {
  background-image: url('../pngs/landingPageBg.png');
  background-size: cover;
  height: 100%;
}

.stickyNavbar {
    position: sticky;
    top: 0%;
    z-index: 1;
  }

.textBoxTestoasaContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: left;
  }


.textBoxStyle {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 260%;
  }


  .divParinte {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: center;
}
