.navbarTextStyle, button, button:focus {
    color: #04395E !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 26.63px;
    margin-left: 25px;
    margin-right: 20px;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
  }

  button:hover {
    opacity: 0.6;
  }

.navbarImg {
    margin-left: 15px;
    margin-bottom: 5px;
    size: auto;
}

