
.myPerfectPoll {
    background-color: #FFFFFF;
    width: 60%;
    height: 100%;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    z-index: 0;
    padding-bottom: 5%;
}

.textStyle {
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 20%;
    font-size: 30px;
}

h5 {
    font-weight: 100;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 6%;
    font-size: 100%;
}
  
  .radioContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 140%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 5%;
    z-index: 0;
  }
  
  .radioContainer input {
    opacity: 0;
    cursor: pointer;
    z-index: 0;
  }
  .radioContainer:hover input:disabled ~ .checkmark {
    cursor: default;
  }
  
  .checkmark {
    width: 3vh;
    height: 3vh;
    z-index: 0;
    border: 3px solid #04395E;
    border-radius: 50%;
    margin-right: 3%;
  }
  
  
  .radioContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .radioContainer:hover input ~ .checkmark{
    background-color: #FFFFFF;
  }
  
  .radioContainer input:checked ~ .checkmark {
    background-color: #04395E;
    border-radius: 50%;
  }

  .deleteButton {
    background-color: #04395E;
    font-family: 'Inter', sans-serif;
    padding: 7px;
    margin-top: 100%;
    border-color: #04395E;
    border-radius: 7%;
    width: 150%;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .delete:disabled {
    opacity: 0.5;
    :hover {
      cursor: default;
      background-color: #04395E;
    }
  }

  .divPoll {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (max-width: 1200px) {
    .myPerfectPoll {
      width: 70%; 
    }
  }
  
  @media screen and (max-width: 992px) {
    .myPerfectPoll {
      width: 80%; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .myPerfectPoll {
      width: 100%; 
      margin-left: 5%;
      margin-right: 5%;
    }
    .deleteButton {
      width: auto;
    }
  }
