
.myPerfectPoll {
    background-color: #FFFFFF;
    width: 30%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    z-index: 0;
    padding-bottom: 10%;
}

.textStyle {
    margin-left: 5%;
    margin-top: 30px;
    font-size: 30px;
}

h5 {
    font-weight: 100;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 6%;
    font-size: 100%;
}
  
  .radioContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 140%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 5%;
    z-index: 0;
  }
  
  .radioContainer input {
    opacity: 0;
    cursor: pointer;
    z-index: 0;
  }
  
  .checkmark {
    width: 3vh;
    height: 3vh;
    z-index: 0;
    border: 3px solid #04395E;
    border-radius: 50%;
    margin-right: 3%;
  }
  
  
  .radioContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radioContainer input:checked ~ .checkmark {
    background-color: #04395E;
    border-radius: 50%;
  }
  