.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 50;
  }
  
  .popup-main {
    background-color:#04395E ;
    border-radius: 20px;
    padding: 2%;
    position: fixed;
    box-shadow: 0.3px 0.3px 9px #021B2C;    
    z-index: 50;
    width: auto;
    height: auto;
  }
  
  .display-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .display-none {
    display: none;
  }

  .closeButton:hover {
    opacity: 0.9;
  }